    .alertBubble{
        width: 100vw;
        height: calc(100vh - 80px);
        margin-top: 80px;
        overflow: scroll;
        text-transform: uppercase;
        letter-spacing: .3em;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;


        .container{
            width: 100vw;
            border-radius: 10px;
            // min-height: 120px;
            &:hover {
                background-color: $red;
            }
            margin-top: 15px;
            display: flex;
            align-content: flex-start;
            flex-direction: column;
            justify-content: space-around;

            .from{
                padding: 20px;
                width: 100vw;
                color: $white;
                height: 50px;
                // border: 1px solid blue;
                display: flex;
                align-items: center;
                
                margin-bottom: 20px;

                em {
                    font-size: 3rem;
                    cursor: pointer;
                    margin-right: 10px;
                    &:hover {
                        color: $black;
                    }
                }
            }

            .messageContainer{
                display: flex;
                // height: 0px;
                overflow: hidden;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                // border: 1px solid blue;
                .message {
                    text-align: center;
                    line-height: 1.2em;
                    width: 100%;
                    padding: 0 30px;
                }
            }

            .mapHere {
                display: block;
                width: 100vw;
                height: 400px;
            }
            
        }

    }

    // @media (min-width: 600px) {
    //     .alertBubble{
        
    //         .container{
    //             width: 600px;
    //         }
    //     }
    // }
    // @media (min-width: 900px) {
    //     .alertBubble{
        
    //         .container{
    //             width: 800px;
    //         }
    //     }
    // }