@import './../../sass/variables';

#Home{
    background-color: $black;
    height: 100vh;
    width: 100vw;

    padding-top: 50px;

    .navContainer{
        width: 100vw;
        height: 30vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;

        a {
            color: $white;
            text-decoration: none;
            letter-spacing: 0.2em;
            font-family: $sans;
            &:hover {
                color: $yellow;
            }
        }
    }
    // .redirect {
    //     position: fixed;
    //     top: 0;
    //     left: 0;
    //     width: 100vw;
    //     height: 100vh;
    //     background-color: $red;
    //     color: $black;
    //     z-index: 1000;
    //     display: flex;
    //     flex-wrap: wrap;
    //     justify-content: center;
    //     align-items: center;
    //     font: {
    //     family: $sans;
    //     size: 1.3rem;
    //     }
    //     text: {
    //     transform: uppercase;
    //     align: center;
    //     }
    //     p {
    //     width: 100vw;
    //     padding: 20px;
    //     }
    //     a {
    //     font-family: $sans;
    //     size: 1.3rem;
    //     color: $white;
    //     text-decoration: none;
    //     width: 100vw;
    //     padding: 20px;
    //     &:hover {
    //         color: $black;
    //     }
    //     }
    // }
}
