.Groups {
  width: 100%;
  height: 100%;
  background-color: $black;
  font-family: $sans;
  padding-top: 50px;

  .addGroupModal{
    width: 100%;
    height: 100%;
    z-index: 9999999;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px;
    border-color: pink;

    .modalBox{
      width: 90%;
      height: 90%;
      background-color: $grey;
    
      .exit{
        margin: 15px;
        width: 10px;
        height: 10px;
        cursor: pointer;
      }

      .head{
        color: white;
        display: flex;
        font-size: 1.2em;
        justify-content: center;
        align-items: flex-start;
        letter-spacing: 1;
        height: 50px;
      }

      .inputField{
        display: flex;
        margin-top: 50px;
        margin-left: 20px;
        align-items: center;
        justify-content: center;
        margin-left: -20px;

        .btn{
          color: $yellow;
          font-size: .8em;
          border: none;
          margin-right: 10px;
        }
      }

      .addNewGroup{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        height: 30px;
        background-color: $yellow;
        color: $black;
        border: none;
        letter-spacing: 1;
      }

      .groupsBoxContainer{
        width: 100%;
        height: 50%;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: $yellow;

        .groupsbox{
          width: 90%;
          height: 55%;
          padding: 5px;
          // margin-top: 10px;
          background-color: $black;
          border-radius: 10px;
          border-color: $yellow;
          border: 2px; 
          color: white;
          margin-top: 10px;

          .friendNames{
            color: $white;
            font-size: .8em;
          }
      }
      }
    .addBtns{
      width: 100%;
      background-color: $yellow;
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.3em;

      .added{
        font-size: 1em;
      }
    }
    .addBtns:hover{
      background-color: $black;
    }
  }
  }

  .header{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: $white;
    font-size: 1.6em;
    position: absolute;

    .addNewGroup{
      width: 20px;
      height: 20px;
      margin-left: 10px;
      cursor: pointer;
      z-index: 999;

    .head{
        color: $white;
        font-family: $sans;
        letter-spacing: .1em;
        font-size: 1.25em;
        margin-left: 10px;
    }

    .addGroup{
      width: 22px;
      height: 22px;
      margin: .5em;
      margin-top: 9px;
      margin-right: 10px;
    }
  }





                button {
                    background-color: $white-translucent;
                    border: none;
                    height: 30px;
                    padding: 7px;
                    margin: 5px 2px;
                    border-radius: 10px;
                    color: $white;
                    letter-spacing: 0.2em;
                    font: {
                        family: $sans;
                        size: 1rem;
                    }
                    &:focus {
                        outline: none;
                    }
                    &:hover {
                        background-color: $yellow;
                        color: $black
                    }
                }
              }

    .listOfGroups{
      display: flex;
      justify-content: space-around;
      justify-content: flex-start;
      margin-left: 20px;
      margin-top: 100px;
      width: 100%;
      align-items: flex-start;
      position: relative;

      .nameContainer{
        display: flex;
        flex-direction: column;
        margin-top: 70px;

      .groupName{
        color: $white;
        letter-spacing: 1
      }

      .seeInfo{
        color: $yellow;
        background-color: $grey;
        width: 90px;
        margin-top: 1em;  
        border: none;
        height: 30px;
        font-size: 1em;
        cursor: pointer;
      }
    }
  }
}
